set( @product@_VERSION @cet_dot_version@ )
set( @product@_UPS_VERSION @version@ )

if (COMMAND _cet_debug_message)
  _cet_debug_message("Loading ${CMAKE_CURRENT_LIST_FILE}")
endif()

@PACKAGE_INIT@

if (IS_DIRECTORY "@PACKAGE_module_dir@")
  list(APPEND CMAKE_MODULE_PATH @PACKAGE_module_dir@)
endif()

@CONFIG_FIND_UPS_COMMANDS@

@CONFIG_FIND_LIBRARY_COMMANDS@

@CONFIG_EXTRA_COMMANDS@

check_required_components(@product@)

